$grid-columns: 4;

$features: (
  ads: true,
  shorts: true,
  sidebar: true,
  merch: true,
  categories: true,
  video-actions: true,
  description-sections: true,
  related-videos: false,
  comments: false,
);

@mixin frosted($bg: rgba(40, 40, 40, 0.6), $blur: 35px) {
  background-color: $bg !important;
  backdrop-filter: blur($blur) !important;
}

@mixin hide($selectors...) {
  #{$selectors} {
    display: none !important;
  }
}

/* ========= PLAYLIST ========= */
$playlist-videos: 'ytd-browse[page-subtype=playlist] ytd-two-column-browse-results-renderer.ytd-browse, ytd-browse[has-page-header-sidebar] ytd-two-column-browse-results-renderer.ytd-browse';
$playlist-alerts: '#alerts';
$playlist-header: '#page-manager > ytd-browse > ytd-playlist-header-renderer';

/* ========= VIDEO DESCRIPTION SECTIONS ========= */
$description-sections: (
  social-links: '#social-links',
  playlists: '#items > ytd-video-description-infocards-section-renderer',
  played-game: '#items > yt-video-attributes-section-view-model',
  video-sections: '#items > ytd-horizontal-card-list-renderer',
  how-its-made: '#items > how-this-was-made-section-view-model',
);
$show-transcription: '#items > ytd-video-description-transcript-section-renderer';

/* ========= VIDEO ACTION BUTTONS ========= */
$video-action-buttons: (
  clip: '#flexible-item-buttons > yt-button-view-model:nth-child(2)',
  download: '#flexible-item-buttons > ytd-download-button-renderer',
  menu: '#button-shape',
  sponsor: '#sponsor-button',
  share: '#top-level-buttons-computed > yt-button-view-model',
);

/* ========= VIDEO MERCH/PRODUCTS ========= */
$video-merch: (
  merch: '#below > ytd-merch-shelf-renderer',
  description-merch: '#description-inner > ytd-merch-shelf-renderer',
  shop: '#shopping-timely-shelf',
);

/* ========= ADS ========= */
$home-page-ads:
  '#contents > ytd-rich-item-renderer:has(ytd-in-feed-ad-layout-renderer)',
  '#content > ytd-ad-slot-renderer';
$video-page-ads: '#player-ads';
$video-page-first-video: '#contents > yt-lockup-view-model:nth-child(1)';
$video-engagement: '#panels > ytd-engagement-panel-section-list-renderer:nth-child(3)';
$video-engagement-ads: '#panels > ytd-engagement-panel-section-list-renderer[target-id=engagement-panel-ads]';
$home-page-yt-premium-featured: '#contents > ytd-rich-section-renderer:has(ytd-brand-video-shelf-renderer)';

/* ========= SHORTS ========= */
$search-results-shorts: 'ytd-reel-shelf-renderer';
$home-page-shorts:
  'ytd-rich-section-renderer:has(ytd-rich-shelf-renderer[is-shorts])',
  'ytd-rich-shelf-renderer[is-shorts]', 'ytd-reel-shelf-renderer';

/* ========= CATEGORY CHIPS ========= */
$home-page-categories: '#header:has(ytd-feed-filter-chip-bar-renderer)';
$video-page-categories: '#items > yt-related-chip-cloud-renderer';

/* ========= LOADING ========= */
$home-page-load-new-videos-indicator: '#contents > ytd-continuation-item-renderer'; /* Video loading skeletons */

/* ========= SIDE BAR ========= */
$sidebar: 'ytd-guide-renderer', '#guide', 'tp-yt-app-drawer';
$mini-sidebar:
  '#guide-button', '#content > ytd-mini-guide-renderer',
  '#sections > ytd-guide-section-renderer:nth-child(1)';

/* ========= TOP BAR ACTION BUTTONS ========= */
$notification-button: '#buttons > ytd-notification-topbar-button-renderer';
$search-field-button: '#center > yt-searchbox > div.ytSearchboxComponentInputContainer > button';
$voice-search-button: '#voice-search-button';
$create-button: '#buttons > ytd-button-renderer > yt-button-shape > button';

/* ========= FEATURES/REGULAR STYLINGS ========= */
$comment-action-menu: '#action-menu';

$yt-grid-renderer: '#primary > ytd-rich-grid-renderer';
$home-page-display: '#page-manager', "ytd-browse[page-subtype='home'] #primary";

$video-page-top-bar: '#background';
$home-page-top-bar: '#frosted-glass';

/* ========= RELATED VIDEOS ========= */
$related-videos: '#related:has(ytd-watch-next-secondary-results-renderer)';
$secondth-column: '#secondary';

/* ========= COMMENTS ========= */
$comments: '#comments';

/* Hide top bar background on home page */
#{$home-page-top-bar} {
  height: 56px !important;
  backdrop-filter: none !important;
  background: none !important;
}

/* Notification button */
#{$notification-button} {
  @include frosted;
  border-radius: 100% !important;
}

/* Top bar buttons */
#{$search-field-button,
$voice-search-button,
$create-button} {
  @include frosted;
}

/* Hide video page top bar background */
@include hide($video-page-top-bar);

/* Expand main content to full width */
@if map-get($features, sidebar) {
  #{$home-page-display} {
    margin-left: 0 !important;
    width: 100% !important;
  }
}

/* Add more videos per row to home page */
#{$yt-grid-renderer} {
  --ytd-rich-grid-items-per-row: #{$grid-columns} !important;
}

/* Comment layout fix
Make action menu take up box space to allow all text of comment to be visible */
#{$comment-action-menu} {
  position: relative !important;
}

/* Transcript spacing */
#{$show-transcription} {
  padding: 0 !important;
}

/* Loading skeletons */
#{$home-page-load-new-videos-indicator} {
  opacity: 0 !important; /* display: none; removes loading functionality, opacity: 0; keeps it */
}

/* Playlist */
#{$playlist-videos,
$playlist-alerts} {
  padding-left: 450px !important;
}
#{$playlist-header} {
  margin: 0 !important;
}

/* Side bar */
@if map-get($features, sidebar) {
  @include hide($sidebar, $mini-sidebar);
}

/* Categories */
@if map-get($features, categories) {
  @include hide($home-page-categories, $video-page-categories);
}

/* Shorts */
@if map-get($features, shorts) {
  @include hide($home-page-shorts, $search-results-shorts);
}

/* Ads */
@if map-get($features, ads) {
  @include hide(
    $home-page-ads,
    $video-page-ads,
    $video-engagement,
    $video-engagement-ads,
    $home-page-yt-premium-featured
  );

  #{$video-page-first-video} {
    margin-top: 0 !important;
  }
}

/* Merch */
@if map-get($features, merch) {
  @each $name, $selector in $video-merch {
    @include hide($selector);
  }
}

/* Video action buttons */
@if map-get($features, video-actions) {
  @each $name, $selector in $video-action-buttons {
    @include hide($selector);
  }
}

/* Description sections */
@if map-get($features, description-sections) {
  @each $name, $selector in $description-sections {
    @include hide($selector);
  }
}

/* Related videos */
@if map-get($features, related-videos) {
  @include hide($related-videos, $secondth-column);
}

@if map-get($features, comments) {
  @include hide($comments);
}
