/* ========= PLAYLIST ========= */
/* ========= VIDEO DESCRIPTION SECTIONS ========= */
/* ========= VIDEO ACTION BUTTONS ========= */
/* ========= VIDEO MERCH/PRODUCTS ========= */
/* ========= ADS ========= */
/* ========= SHORTS ========= */
/* ========= CATEGORY CHIPS ========= */
/* ========= LOADING ========= */
/* Video loading skeletons */
/* ========= SIDE BAR ========= */
/* ========= TOP BAR ACTION BUTTONS ========= */
/* ========= FEATURES/REGULAR STYLINGS ========= */
/* Hide top bar background on home page */
#frosted-glass {
  height: 56px !important;
  backdrop-filter: none !important;
  background: none !important;
}

/* Notification button */
#buttons > ytd-notification-topbar-button-renderer {
  background-color: rgba(40, 40, 40, 0.6) !important;
  backdrop-filter: blur(35px) !important;
  border-radius: 100% !important;
}

/* Top bar buttons */
#center > yt-searchbox > div.ytSearchboxComponentInputContainer > button, #voice-search-button, #buttons > ytd-button-renderer > yt-button-shape > button {
  background-color: rgba(40, 40, 40, 0.6) !important;
  backdrop-filter: blur(35px) !important;
}

/* Hide video page top bar background */
#background {
  display: none !important;
}

/* Expand main content to full width */
#page-manager, ytd-browse[page-subtype=home] #primary {
  margin-left: 0 !important;
  width: 100% !important;
}

/* Add more videos per row to home page */
#primary > ytd-rich-grid-renderer {
  --ytd-rich-grid-items-per-row: 4 !important;
}

/* Comment layout fix
Make action menu take up box space to allow all text of comment to be visible */
#action-menu {
  position: relative !important;
}

/* Transcript spacing */
#items > ytd-video-description-transcript-section-renderer {
  padding: 0 !important;
}

/* Loading skeletons */
#contents > ytd-continuation-item-renderer {
  opacity: 0 !important; /* display: none; removes loading functionality, opacity: 0; keeps it */
}

/* Playlist */
ytd-browse[page-subtype=playlist] ytd-two-column-browse-results-renderer.ytd-browse, ytd-browse[has-page-header-sidebar] ytd-two-column-browse-results-renderer.ytd-browse, #alerts {
  padding-left: 450px !important;
}

#page-manager > ytd-browse > ytd-playlist-header-renderer {
  margin: 0 !important;
}

/* Side bar */
ytd-guide-renderer, #guide, tp-yt-app-drawer, #guide-button, #content > ytd-mini-guide-renderer, #sections > ytd-guide-section-renderer:nth-child(1) {
  display: none !important;
}

/* Categories */
#header:not(:has(ytd-comments-header-renderer, #header-author)), #items > yt-related-chip-cloud-renderer {
  display: none !important;
}

/* Shorts */
ytd-rich-section-renderer:has(ytd-rich-shelf-renderer[is-shorts]), ytd-rich-shelf-renderer[is-shorts], ytd-reel-shelf-renderer, ytd-reel-shelf-renderer {
  display: none !important;
}

/* Ads */
#contents > ytd-rich-item-renderer:has(ytd-in-feed-ad-layout-renderer), #content > ytd-ad-slot-renderer, #player-ads, #panels > ytd-engagement-panel-section-list-renderer:nth-child(3), #panels > ytd-engagement-panel-section-list-renderer[target-id=engagement-panel-ads], #contents > ytd-rich-section-renderer:has(ytd-brand-video-shelf-renderer) {
  display: none !important;
}

#contents > yt-lockup-view-model:nth-child(1) {
  margin-top: 0 !important;
}

/* Merch */
#below > ytd-merch-shelf-renderer {
  display: none !important;
}

#description-inner > ytd-merch-shelf-renderer {
  display: none !important;
}

#shopping-timely-shelf {
  display: none !important;
}

/* Video action buttons */
#flexible-item-buttons > yt-button-view-model:nth-child(2) {
  display: none !important;
}

#flexible-item-buttons > ytd-download-button-renderer {
  display: none !important;
}

#button-shape {
  display: none !important;
}

#sponsor-button {
  display: none !important;
}

#top-level-buttons-computed > yt-button-view-model {
  display: none !important;
}

/* Description sections */
#social-links {
  display: none !important;
}

#items > ytd-video-description-infocards-section-renderer {
  display: none !important;
}

#items > yt-video-attributes-section-view-model {
  display: none !important;
}

#items > ytd-horizontal-card-list-renderer {
  display: none !important;
}

#items > how-this-was-made-section-view-model {
  display: none !important;
}/*# sourceMappingURL=style.css.map */